#position-ad{
background-color:transparent
}
a:hover{
background-color:orange
}
.mainmenu{overflow:hidden;background:#59b4b5}
.mainmenu ul{margin:0;padding:0;list-style:none}
.mainmenu ul li{float:right;border-left:1px solid #5da5ca;border-right:1px solid #408bb2}
.mainmenu ul li:first-child{border-left:0px solid}
.mainmenu ul li:last-child{border-right:0px solid}
.mainmenu ul li a{color:#fff;display:block;padding:15px}
.mainmenu ul li a:hover{background:#2d6d8e}